body {
  font-family: sans-serif;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 200px;
  list-style-type: none;
}

.page-item {
  font-size: 20px;
}
