.header {
  top: 0;
  background-color: #049372;
  margin: 0 50px;
}

.header__top {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}
.header__name {
  width: 30%;
  align-items: center;
  padding: 10px;
  text-shadow: 0 0 5px #fff;
  letter-spacing: 10px;
}

.header__nametext {
  color: black;
  text-decoration: none;
}
.header__checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.header__basketCount {
  position: relative;
  width: 2rem;
  left: -2rem;
  top: -1rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  border-radius: 50%;
  background: #e24a13;
  opacity: 0.9;
}

.header__search {
  align-items: center;
  width: 60%;
}
.header__searchInput {
  font-size: 20px;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 80%;
}
.header__searchbutton {
  width: 80px;
  font-size: 20px;
  height: 100%;
  padding: 0 10px;
  border: 2px solid;
  border-radius: 0 5px 5px 0;
  text-align: center;
}
.header__searchbutton:hover {
  background-color: black;
  color: white;
}
.cart__icon,
.cart__icon:visited {
  margin: 15px;
  text-decoration: none;
  color: black;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 40px;
  font-size: 40px;
}

.header__nav1:hover,
.header__nav2:hover,
.header__nav3:hover {
  background-color: bisque;
}
