.header {
  top: 0;
  background-color: #049372;
  margin: 0 50px;
}

.header__top {
  display: flex;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
}
.header__name {
  width: 30%;
  align-items: center;
}

.header__nametext {
  color: black;
}

.header__search {
  align-items: center;
  width: 70%;
}
.header__searchInput {
  font-size: 20px;
  height: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 80%;
}
.header__searchbutton {
  width: 80px;
  font-size: 20px;
  height: 100%;
  padding: 0 10px;
  border: 2px solid;
  border-radius: 0 5px 5px 0;
  text-align: center;
}
.header__searchbutton:hover {
  background-color: black;
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  gap: 40px;
  font-size: 40px;
}

.header__nav1:hover,
.header__nav2:hover,
.header__nav3:hover {
  background-color: bisque;
}
